p{
    color: blue;
}
h2{
    padding: 10px 0 20px 30px;
    margin: 20px;


    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

}
img{
    border-style: solid;
    border-color: orange;
    border-width: 15px;
    /*radius = arrondi*/
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;

    /*border: 0px solid #000000;*/

    /* Shadow = ombre */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

body{
    /* background-color: #8BC2C2; */

    background: rgba(72,234,215,1);


    background: -moz-linear-gradient(left, rgba(72,234,215,1) 0%, rgba(44,231,216,0.61) 69%, rgba(31,229,216,0.61) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,234,215,1)), color-stop(69%, rgba(44,231,216,0.61)), color-stop(100%, rgba(31,229,216,0.61)));
    background: -webkit-linear-gradient(left, rgba(72,234,215,1) 0%, rgba(44,231,216,0.61) 69%, rgba(31,229,216,0.61) 100%);
    background: -o-linear-gradient(left, rgba(72,234,215,1) 0%, rgba(44,231,216,0.61) 69%, rgba(31,229,216,0.61) 100%);
    background: -ms-linear-gradient(left, rgba(72,234,215,1) 0%, rgba(44,231,216,0.61) 69%, rgba(31,229,216,0.61) 100%);
    background: linear-gradient(to right, rgba(72,234,215,1) 0%, rgba(44,231,216,0.61) 69%, rgba(31,229,216,0.61) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48ead7', endColorstr='#1fe5d8', GradientType=1 );

}
/* Jérôme supprimer les puces de la liste  */
ul{
    list-style-type: square;
}





/* Ajouter votre CSS ici 
https://www.codingame.com/playgrounds/36092/exercices-css/base-css
exa 2 
*/
section {
    color : green;
    margin : 101px;
    }
h1{
    font-size: 2.5em;
    font-variant: small-caps;    
    }
p{
   font-size: 14px;
    }  
 h2{
    font-size:2vw;
    font-family : Helvetica;
    }
    
    